.var-ripple {
  transition: transform 0.2s cubic-bezier(0.68, 0.01, 0.62, 0.6), opacity 0.14s linear;
  opacity: 0;
  background-color:currentColor;
  will-change: transform, opacity;
  @apply absolute inset-0 bg-red-600 transition-all rounded-full;
}