:root {
  --activeColor:#5672cd;
  --vp-c-green:var(--activeColor);
  --vp-button-brand-active-bg:var(--activeColor);
  --vp-button-brand-hover-bg:var(--activeColor);
  --vp-custom-block-tip-text:var(--activeColor);
  --vp-c-green:var(--activeColor);
  --vp-c-green-lighter:var(--activeColor);
  --vp-button-brand-bg:var(--activeColor);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, var(--activeColor) 30%, #ccc);
  --vp-home-hero-image-background-image: linear-gradient(to top, #fee023 30%, #ebe9e07d 50%);
  --vp-home-hero-image-filter: blur(60px);
}
.vp-doc a > code{
  font-weight: bolder;
}
/* 阮一峰课程 */
pre.ascii{
  font-size: 14px;
  line-height: 14px;
  padding: 10px 0;
  border: none;
  background-color: transparent;
  font-family: JetBrainsMono, "Courier New", Consolas, monospace !important;
  word-break: normal !important;
}